# Variable Declaration and Basic Concepts

    -> In above python statemant 'greeting'is a variable ,Rigt??
    -> Start with how to declare variable in python.
    -> We can create a new pythone variable by assigning a value to a Lable ,using the=assignment operator.

In [1]:
i=10         #int                                                                                                                                                           
j=20.30      #float
s="Krunal"   #string                                      # variable
b=True       #boolean
f=50.23      #paython is case sensitive langunge
i            # to print
type(i)      #type to check type

int

In [13]:
s="xyz"
type(s)==str

True

In [2]:
type(b)    #type is to function to check data type of variable.

bool

<span> <b>      Rules for varible Declaration  </b></span>

    1. A varible * start with alphabet with underscore * and can be composed for character , number and the underscore character
    2. python keybord is  not a valid variable like if,for,while,import...
    3. case sensetive.

In [3]:
5+8j
(5+8j)

(5+8j)

<span> ***Paython Data Type:-*** </span> <span style= 'background:yellow'>  </span>

In [1]:
# ->The basic numarical type used in python are:-
#     -integers
#     -floats(reals)
#     -String
#     -Boolean
#     -Complex numbers(pair of oats)

       -->  Python automatically detects type from the value type. 
       -->  python automatically convert numbers from one type to another when appropriate.
           Example:-int to float etc...

In [4]:
no=46
no="mno"
# no
type(no)

str

In [5]:
#type of Function
s='abc'
type(s)==str

True

# Arithmatic operator

In [ ]:
    +,-,*,/,**,//  (Floor division the inte-gral part of the quotient,),

    %  (modules returns the remain -der.),  abs (modules returns the remain-der)

    operation are evaluated in standard order:-
    parentless Exponentiation,multiplication ,Divisionaddition,substration.

In [6]:
a=4.5
a=a+5             #absolute
a

9.5

In [13]:
a=5
a=(-a)**2
a              #squre

25

In [11]:
a=6
a=-a**2
a
# first 6 * 6 ,then - (36)   priority of * and -

-36

In [12]:
a = -7.7
abs(a)

7.7

In [14]:
k = 4
k = k/2
k

2.0

In [7]:
a = 4 ** 3
a  # 4*4*4

64

In [9]:
a = (- 4) ** 2
a 
# (-4) * (-4)

16

# Booleans

<span >-    Bollean Type ,which takes the value True or false  </span><br>
<span >-    These can also be used like numbers where true has the 1 value and false the value 0</span>

In [16]:
b = True + 5
b
# True = 1

6

In [18]:
b = False - True
b  
# False = 0

-1

In [19]:
False or False      # logical disjuction

False

In [24]:
True or False        # logical disjuction

True

In [25]:
True and False       #logical conjution

False

In [26]:
True and True

True

In [28]:
not True     #Logical negation

False

In [20]:
c = True + 4
c = c + 3
c         #true etle 1

8

# String

    ->  Strings are Sequence of Character.
    ->  They are identified by surrounding quote makes.
    ->  Enclose a sequence of character in either (") or double("")qutoes(python doesn't)( are which).
    ->  single Character in python is just one element string.
    ->  python String are immutable-once defined they coun't be reaced

In [22]:
j = "GVP"
print(j)

GVP

In [12]:
s="string"
s="vidyapith "
s[5]

'p'

In [23]:
'gvp  ' + 'abad'
#direct print

'gvp  abad'

In [24]:
print("gvp")

gvp

In [30]:
'gvp ' + "abad"  #double cot 6 jo ha final ans to single cot ma

'gvp abad'

In [31]:
"virpur"

'virpur'

In [27]:

કે = "જય હિન્દ " * 2
કે

'જય હિન્દ જય હિન્દ '

In [2]:
print("I Love my country 'india'")
#Embeding qutoe markString

I Love my country 'india'

***Quizz***

In [3]:
[] or False          # 0 or 0 => 0

False

In [8]:
print([] or False)   # 0 or 0 => 0

False

In [4]:
print(False or 'helloo')  # 0 or 1 => 1

helloo

In [10]:
print(2.5 or False)       # 0 or 1 => 1

2.5

In [15]:
print(True and 1)         # 1 and 1 => 1

1

In [16]:
print(True and 'k')       # 1 and 1 => 1

k

In [13]:
print('k'and'k')          # 1 and 1 => 1

k

In [14]:
print(0 and r)            # 0 and 1 => 0

0

In [7]:
s='Gujrat \n india'
print(s)

Gujrat
 india

In [6]:
s='gujarat \t India'
print(s)

gujarat 	 India

# String Element Are accessd using Squre Brackets[]

    ->   indexing obtain Character from the string using a single integer to identity the position of the Character.
    ->   silcing obtain  a subString using start:stop:step to specify Character to select.
    ->   Indexing and slicing "up to but not in including the stop position.
    ->   a  ":"  can be used to select all character either before and after a given position.

In [28]:
un='Gujarat Vidyapith'
#un[0]          # Return index val
#un[0:3]         # [0:3] - Starting Index : Ending Index
# un[3:]
#un[-1]          # Last Char of str
#un[-1:]
#un[-14:]
# un[12:-2]
# un[2:-12]
# un[1:5]
#un[1:5:2]
un[0::2]
# un[::1]
# un[::-1]  
                                     #reverse a string by readig it backward

'GjrtVdaih'

In [9]:
#un[0]='g'

___String Method:-___<br>
***convert all letter to uppar and Lowercase***

In [29]:
s="Gujarat Vidyapith"
# s.upper()
# s.lower()
# s.capitalize()
# count
# s.count('u')
# index
# s.index('Vi')
s.replace('t','m')

'Gujaram Vidyapimh'

In [21]:
s.split() # split a string into a list of words

['Gujarat', 'Vidyapith']

# Formatting String

    ->  String can be formated using the formet function . 
    ->  This allow Replacement fields Surrounded by curly {} in a string to be replaced by some other data. 
    ->  Within a replacement felds {} are filled in order with argument given.
    ->  Number inside replacement feilds specify arguments by position,String with Zero.

In [23]:
# "{} {}".format("a","b")
a=30
b=20
"{} , {}".format(a,b)
#"{} and {}".format(b,b)

'30 , 20'

In [25]:
i,j=20,24
# print("{} {}".format(i,j))
"{1} {0}".format(i,j)

'24 20'

# Format specification for the field width and padding are provided after a column'.'

    -> A Field With can be Specified using:n where is an integer specifing the number of Characters in the Field.
    -> If the data has less character then the field width ,the default is to insert extra space on the right  i.e to"pad"on the  right

In [36]:
# print("{} {}".format('9ab',2))
# print("{:5} {}".format('9ab',2))
print("{:5.5} {}".format('9ab',2)) #using a field of width 5 width the defult padding

9ab   2

In [67]:
print("{:>5} {}".format('9ab',2)) #to pad on the left use:>. n=5field width

  9ab 2

In [68]:
print("{:<5} {}".format('9ab',2))

9ab   2

# Format Specification numarical data to be neatly printed and dligned.

     -> Integer are refferd to using :d.
     -> Float are refferd to using :f.
     -> An Integer after a decimal points is used to indicate how many decimal places to disply.
     -> Use:m.mf to indecate to Replacement field of width n for a oat printed to m decimalplaces.

In [6]:
pi=3.1416
# print (pi)
# print("{5.2f}".format(ni))
print("{:^10.4f}".format(pi))

  3.1416

<span> ***Type conversions:-*** </span>

     object can be explicity converted from one type to another.This is called type casting.

In [30]:
i=float("10")#float is class constructor  this is called casting
# i
i=int(12.33)                            #type casting
type(i)

int